{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Sign Out {% endblock %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<section class="container-fluid vh-75">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-9 col-xl-5">
        <div class="card my-4 p-4" style="border-radius: 15px;">
          <div class="card-body p-4 mx-auto text-center">
            <p style="font-size: large;"> Dear <strong>{{user.username}}</strong> <br><br>{% trans 'Are you sure you want to sign out?' %}</p>
            <br>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button type="submit">{% trans 'Sign Out' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

{% endblock %}