@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed&display=swap');

/*--------------------------------------------Colors*/
body {
    background-color: #c9adb6;
}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 4.0vh;
}

h3 {
    font-size: 3.8vh;
}

h4 {
    font-size: 3.5vh;
}

h5 {
    font-size: 3.2vh;
}

p {
    font-size: 2.5vh;
}

.bg-light {
    background-color: #702064;
}

/*--------------------------------------------Navigation Menu*/
.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    margin-left: 20px;
    color: whitesmoke;
    font-size: 150%;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link {
    color: white;
    font-size: 1em;
}

/*--------------------------------------------Section 1 Hero Image*/
.w-100 {
    object-fit: cover;
    object-position: center;
    height: 75vh;
    overflow: hidden;
}

/*--------------------------------------------lab logs list*/
.card {
    margin: auto;
}

.card-img-top {
    margin: auto;
}

/*--------------------------------------------Sign in Form*/
.form {
    width: 40%;
    margin: auto;
    padding: 60px;
}

.bg-footer {
    background-color: #d03280;
}

/*--------------------------------------------add_logs page*/
.form-group {
    display: block;
    width: auto;
    margin: auto;
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        margin-left: 10px;
        font-size: large;
        font-weight: 600;
    }

    .w-100 {
        height: 50vh;
    }

    .card-info {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 300px) {
    .navbar-brand {
        margin-left: 10px;
        font-size: medium;
        font-weight: 600;
    }


}