<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Learner's Lab Logs</title>
</head>
<body>
    <div>
        Lab Log Lists
    </div>
    <div>
        <ul>
            <li>
                <div><p>Log Post 1</p></div>
                <button type="button">Edit</button>
                <button type="button">Delete</button>
            </li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>