{% extends 'base.html' %}
{% block title %}add_logs{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="container create-form p-2">
    <h2 class="mt-2">Add a Lab Log Post..</h2>
    <!-- Add a lab log form, visible when user signs in and can submit after completion -->
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p}}
            {{ post.items_required | safe }}
            {{ post.steps_to_perform| safe }}
            <button class="btn btn-success mb-3">Submit</button>

        </form>
    </div>
</div>
</div>

<!-- If user is not signed in, landing on the create post page -->
{% else %}
<div class="d-flex justify-content-center p-3">
    <h3>Access Denied. Please sign in!</h3>
</div>
{% endif %}

{% endblock %}