{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- page hero image section -->
<div>
    <div id="carouselExampleCaptions" class="carousel slide p-3 w-75 mx-auto" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/7269707/pexels-photo-7269707.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="hero-img d-block w-100" alt="kid building with building blocks">
                <div class="carousel-caption d-md-block">
                    <h5 class="fw-bolder text-dark bg-light w-50 mx-auto">Let's Create!</h5>
                    <p class="fw-bolder text-dark bg-light"><a href="#about">Learn More</a> and click<i
                            class="fa fa-hand-o-down" aria-hidden="true"></i> </p>
                    <br>
                    {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'my-page' %}" role="button"
                            class="btn btn-success btn-block btn-m gradient-custom-4 text-white"> Get Started! </a>
                    </div>
                    {% else %}
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'account_signup' %}" role="button"
                            class="btn btn-success btn-block mx-2 btn-m gradient-custom-4 text-white"> Sign Up </a>
                        <a href="{% url 'account_login' %}" role="button"
                            class="btn btn-success btn-block  mx-2 btn-m gradient-custom-4 text-white"> Sign In </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/7105846/pexels-photo-7105846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="d-block w-100" alt="kid smiling holding a toy rocket">
                <div class="carousel-caption d-md-block">
                    <h5 class="fw-bolder text-dark bg-light w-50 mx-auto">Let's Have Fun!</h5>
                    <p class="fw-bolder text-dark bg-light w-75 mx-auto"><a href="#guide" class="link-success">Get Started</a> and click <i
                            class="fa fa-hand-o-down" aria-hidden="true"></i></p>
                    <br>
                    {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'my-page' %}" role="button"
                            class="btn btn-success btn-block btn-m gradient-custom-4 text-white"> Get Started! </a>
                    </div>
                    {% else %}
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'account_signup' %}" role="button"
                            class="btn btn-success btn-block mx-2 btn-m gradient-custom-4 text-white"> Sign Up </a>
                        <a href="{% url 'account_login' %}" role="button"
                            class="btn btn-success btn-block  mx-2 btn-m gradient-custom-4 text-white"> Sign In </a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/4434754/pexels-photo-4434754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="d-block w-100" alt="kid referring to spectrum of colors">
                <div class="carousel-caption d-md-block">
                    <h5 class="fw-bolder text-dark bg-light w-50 mx-auto">Let's Learn!</h5>
                    <p class="fw-bolder text-dark bg-light w-75 mx-auto"> Check out<a href="#latest-posts"> Latest
                            Entries</a> and click <i class="fa fa-hand-o-down" aria-hidden="true"></i> </p>
                    <br>
                    {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'my-page' %}" role="button"
                            class="btn btn-success btn-block btn-m gradient-custom-4 text-white"> Get Started! </a>
                    </div>
                    {% else %}
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'account_signup' %}" role="button"
                            class="btn btn-success btn-block mx-2 btn-m gradient-custom-4 text-white"> Sign Up </a>
                        <a href="{% url 'account_login' %}" role="button"
                            class="btn btn-success btn-block  mx-2 btn-m gradient-custom-4 text-white"> Sign In </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<br>
<div>
    <div>
        <h2 class="display-6 fw-bolder mb-4 pb-3 border-bottom w-75 text-center mx-auto" id="about"> About </h2>
    </div>
</div>
<div class="text-center">
    <h5>Are you one of these people?</h5>
</div>

<div class="container-fluid ">
    <div class="row d-flex flex p-3 ">
        <div class="container w-75 mb-2" style="border: 2px solid white; background-color: rgb(255, 240, 250);">
            <blockquote class="blockquote text-center">
                <p class="mb-3"><i>"I am looking for new interesting fun activities and want to look like
                        Einstein performing them.."</i>
                </p>
                <footer class="blockquote-footer text-dark">
                    <p>- Some curious little kid</p>
                </footer>
            </blockquote>
        </div>
        <div class="container w-75 mb-2" style="border: 2px solid white; background-color: rgb(255, 240, 250);">
            <blockquote class="blockquote text-center">
                <p class="mb-3"><i>"We are looking for a quick source of good fun activities for our kids to keep them
                        not only engaged, but also they get to learn something new.. "</i></p>
                <footer class="blockquote-footer text-dark">
                    <p>- Some busy parents somewhere</p>
                </footer>
            </blockquote>
        </div>
        <div class="container w-75 mb-2" style="border: 2px solid white; background-color: rgb(255, 240, 250);">
            <blockquote class="blockquote text-center">
                <p class="mb-3"><i>"I am passionate about creating simple experiments for my students so that they feel
                        motivated to understand new scientific concepts and learn to think outside the limit of their
                        textbooks.."</i></p>
                <footer class="blockquote-footer text-dark">
                    <p>- A passionate teacher</p>
                </footer>
            </blockquote>
        </div>
        <div class="container w-75 mb-2" style="border: 2px solid white; background-color: rgb(255, 240, 250);">
            <blockquote class="blockquote text-center">
                <p class="mb-3"><i>As a part of summer project, I wish to develop my own science based activities
                        that clarifies different scientific concepts and I wish to log the procedures like a
                        scientist..</i></p>
                <footer class="blockquote-footer text-dark">
                    <p>- An enthusiastic highschool student</p>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
<div class="container-fluid w-75 border border-5 mb-3">
    <h3 class="text-center fw-bold mt-3"><i>Welcome to Little Learner's Lab Logs!!!</i></h3>
    <hr class="w-50 mx-auto text-light">
    <h5 class="text-center">Join us and take little steps towards becoming a future Einsteins!!</h5>
    <p> For all the curious active little young minds and students, who are on a constant lookout for fun activities
        and small projects, Little Learner's Lab Logs is a creative corner where fun and learning comes together.
        This site aims to guide them to transform the backyard into their very own science lab. Here one can
        explore, read and even create their own lab logs. It's a site that brings out the little curious scientist
        hidden within us.
    </p>
    <h5 class="text-center">No frustrations.. Explore, Engage and Experience Fun!!</h5>
    <p> For all the parents, who wish to entertain, engage and educate their little ones at the same time with some
        fun activities. The aim of this site is to detail simple small experiments that can intrigue the kids, with
        the items readily available at home, so that they do not have to spend extra time from their busy schedules.
    </p>
    <h5 class="text-center">Motivate.. Teach real Scientific Methodology!!</h5>
    <p> For all the passionate teachers, who would like to conduct small workshops for children or motivate students
        so that they to become more intuitive about the scientific concepts around them, this site is for you too.
        Here not only students can read and get info on steps to perform the experiment, but also teacher can train
        them the proper method of entering the experimental details. They can create log posts so that their keen
        observations and skills enhance.
    </p>
</div>
<div class="container-fluid w-75 border border-3">
    <h3 class="text-center fw-bold mt-3" id="guide">Getting Started.. Your Guide</h3>
    <hr class="w-50 mx-auto text-light">
    <h5 class="text-center">Bringing out the <i>Explorer</i> in you..</h5>
    <p> You can access the latest posts right here at this <a href="{% url 'home' %}" class="fw-bold link-dark">Home page</a>
        and all our
        collections in the <a href="{% url 'lab-logs' %}" class="fw-bold link-dark">Lab Log Posts</a> page. To help you guide
        through the
        posts, you may check the number of likes the post has recieved. You can click on the titles of the enlisted
        posts to read details of the experiment.
    </p>
    <h5 class="text-center">Bringing out the <i>Creator</i> in you..</h5>
    <p> To become a creator, you have to <a href="{% url 'account_signup' %}" class="fw-bold link-dark">Sign Up</a> and then
        using the
        username and password <a href="{% url 'account_login' %}" class="fw-bold link-dark">Sign In</a>. Upon signing-in, you
        can see your <a href="{% url 'my-page' %}" class="fw-bold link-dark">Personal page</a>. If you are not signed-in, you
        will be asked to sign in
        first. You can create posts in your personal page. If you are the author of the posts, you may be able to
        edit and delete the posts you create. Also, you may enter comments and like the posts. And yes, don't access
        the Admin link, it is for the admin who will ensure only good content reaches you.</p>
    </p>
    <p class="text-center"><strong>So Sign Up/Sign In and unleash the Creator within you!!</strong></p>

</div>

<!-- page lab log posts section -->
<br>
<div>
    <div>
        <h2 class="display-6 fw-bolder mb-4 pb-3 border-bottom w-75 text-center mx-auto" id="latest-posts"> Latest
            Entries </h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Lab Log Entries Columns -->
        <div class="col-12 mt-2 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 ">
                        <div class="card-body">
                            <div class="image-container text-center">
                                <div class="col-12 col-lg-12">
                                    {% if "placeholder" in post.image.url %}
                                    <img class="img-fluid w-100" src="..." alt="image uploaded by the user">
                                    {% else %}
                                    <img class="img-fluid w-100 " src=" {{ post.image.url }}"
                                        alt="image uploaded by the user">
                                    {% endif %}
                                </div>

                                <div>
                                    <p class="author">Submitted by: {{ post.author }}</p>
                                </div>

                            </div>

                            <a href="{% url 'log-details' post.slug %}" class="post-link">
                                <h2 class="card-title">{{  post.title }}</h2>
                            </a>
                            <p class="card-text">{{ post.description }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}