{% extends "base.html" %}

{% load static %}
{% block title %}Lab Logs{% endblock %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-center text-white">Lab Logs</h3>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<div class="fw-bolder mb-4 pb-3 border-bottom text-center p-3 w-75 mx-auto">
    <h2 >
        <i><strong>All Our Collections</strong></i>
    </h2>
    <hr> 
    <h4>
        <i><strong>Sort and find your desired Lab Logs</strong></i>
    </h4>
    <div class="nav-item dropdown btn btn-success fw-bolder mb-4 border-bottom text-center p-3 w-25 mx-auto">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Posts List
        </a>
        <div class="dropdown-menu">
            {% for posts in post_list %}
            <a class="dropdown-item"
                href="/log_details/{{ posts.slug }}">
                {{ posts.title|title }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- page lab log posts section -->
<div class="container-fluid">
    <div class="row">
        <!-- Lab Log Entries Columns -->
        <div class="col-11 mx-auto mt-2">
            <div class="row">
                {% for post in post_list %}
                <div class="col-xs-10 col-md-6 col-lg-6  m-4 mx-auto">
                    <div class="card h-100 ">
                        <div class="card-body p-4">
                            <div class="image-container text-center">
                                <div class="col-12 col-lg-12 mx-auto">
                                    {% if "placeholder" in post.image.url %}
                                    <img class="card-img-top img-fluid w-100 " src="..."
                                        alt="image uploaded by the user">
                                    {% else %}
                                    <img class="card-img-top img-fluid w-100 " src=" {{ post.image.url }}"
                                        alt="image uploaded by the user">
                                    {% endif %}
                                </div>
                                <div>
                                    <!-- Need to be updated with profile link -->
                                    <h5 class="author">Submitted by: 
                                    <a href="{% url 'my-page' %}" class="post-link">  
                                        {{ post.author }}
                                    </a>
                                </h5>                               
                                </div>
                            </div>
                            <a href="{% url 'log-details' post.slug %}" class="post-link">
                                <h3 class="card-title">{{  post.title }}</h3>
                            </a>
                            <p class="card-text description-text">{{ post.description }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <!-- Previous and Next buttons -->
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock content%}