{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-center text-white">Log details</h3>
            <hr>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<!-- post details page with comment section below -->

<section>
    <div class="card w-75">
        <!-- Title of the post -->
        <h3 class="card-title mt-3 text-center text-uppercase">
            {{post.title}}
        </h3>
        <!-- Name of the author/creator-->
        <p class="text-center">Author: {{post.author}} | {{post.created_on}}</p>
        <!-- Featured image URL-->
        <img src="{{post.image.url}} " class="card-img-top p-3 w-50">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <!-- Description entered for the post-->
                    <h5>Description</h5>
                    <p>{{post.description}}</p>
                </li>
                <li class="list-group-item">
                    <!-- items_required section entered for the post-->
                    <h5>Items Required</h5>
                    <p>{{post.items_required | safe}}</p>
                </li>
                <li class="list-group-item">
                    <!-- steps_to_perform section entered for the post-->
                    <h5>Steps to Perform</h5>
                    <p>{{post.steps_to_perform | safe}}</p>
                </li>
                <li class="list-group-item">
                    <strong>
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'post-like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}

                            <button type="submit" name="logpost_id" value="{{post.slug}}" class="btn-like"><i
                                    class="fas fa-thumbs-up"></i></button>

                            {% else %}
                            <button type="submit" name="logpost_id" value="{{post.slug}}" class="btn-like"><i
                                    class="fas fa-thumbs-up"></i></button>

                            {% endif %}
                        </form>
                        {% else %}

                        <span class="text-secondary"><i class="fas fa-heart"></i></span>

                        {% endif %}

                    </strong>
                    <!-- Number of likes-->
                    <span class="text-secondary p-3"><i class="far fa-heart"></i> {{ post.number_of_likes }} </span>
                    <!-- Start o for loop to calculate number of comments-->
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary p-3"><i class="far fa-comments"></i>
                        <!-- total_comments variable-->
                        {{ total_comments }}</strong>
                    {% endwith %}
                </li>
            </ul>
        </div>


        {% if user.id == post.author.id  %}
        <div class="d-flex justify-content-center">
            <a href="{% url 'edit-logs' post.slug  %}" role="button" class="btn btn-info btn-block mx-2 btn-m gradient-custom-4 text-dark"><strong>Edit</strong> </a>
            <form method="POST" action="{% url 'delete-logs' post.slug  %}">
                {% csrf_token %}
            <a href="{% url 'delete-logs' post.slug  %}" role="button" class="btn btn-secondary btn-block mx-2 btn-m gradient-custom-4 text-dark" onClick="deleteFunction()"><strong>Delete</strong></a>
                </form>
        </div>
        {% endif %}
        <hr>
        {{ post.body|safe }}
    </div>
</section>

<br>
<!-- Comments section-->
<section>
    {% if comments %}
    <div class="card w-75">
        <h5 class="card-header">Comments</h5>
        <div class="font-weight-bold mx-4">
            <!-- Start of for loop -->
            {% for comment in comments %}
            <p>On
                <span class=" text-muted font-weight-normal">
                    <!-- The comment's created date -->
                    {{ comment.created_on }}
                </span>
                <!-- The commenter's name-->
                {{ comment.name }} wrote:
                <!-- The body of the comment -->
                {{ comment.body | linebreaks }}
            </p>
            <!-- End of for loop -->
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <br>

    {% if commented %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting approval
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <div class="card w-75">
        <h5 class="card-header">Please enter your comments</h5>
        <div class="card-body">
            <p> Posting as: {{user.username}} </p>
            <form method="post">
                {% csrf_token %}
                {{ comment_form | crispy}}
                <br>
                <button type="submit" class="btn btn-success">Submit</a>
            </form>
            {%endif%}
            {%endif%}
        </div>
    </div>

</section>
<br>

{%endblock content%}