{% extends "base.html" %}

{% load static %}
{% block title %}{{user.username}}'s Page{% endblock %}

{% block content %}

<br>
<div>
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="text-center  fw-bold text-dark" id="user-page"> {{user.username}}'s Profile</h2>
                <hr>
            </div>
            <div class="text-dark">
                <img class="profile-img rounded border border-secondary border-3 shadow mt-2 w-25 rounded mx-auto d-block mt-3" src="{{ user.profile.profile_image.url }}">
                <p class=" mt-4"><strong>{{user.profile.brief_bio}}</strong> 
                </p>
            </div>
        </div>

        <div class="mt-4 mb-5">
            <a aria-current="page" href="{% url 'edit_profile' %}" role="button" type="submit"
                class="btn btn-success btn-block btn-m gradient-custom-4 text-white {% if url_name == 'edit-profile' %}active {% endif %}">
                Update Profile</a>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="text-center fw-bold text-dark" id="user-page"> {{user.username}}'s Lab Logs</h2>
                <hr>
            </div>
        </div>
    </div>

    <div class="container text-center mt-4">
        <div class="text-dark">
            <p class="fw-bold">What brings you here today. Would you like to add a lab log post?
            </p>
        </div>
        <div class="mt-4 mb-5">
            <a href="{% url 'add-logs' %}" role="button" type="submit"
                class="btn btn-success btn-block btn-m gradient-custom-4 text-white">
                Create Now!
            </a>
        </div>
        <div class="text-dark">
            <h4>Have a look at what you have posted so far..</h4>
            <hr>
        </div>
    </div>
    <!-- page lab log posts div -->
    <div class="container-fluid">
        <div class="row">
            <!-- Lab Log Posts Columns -->
            <div class="col-11 mx-auto mt-2">
                <div class="row">
                    <!-- if the user have added post-->
                    {% if post_list|length > 0 %}
                    <!-- loops through the posts have been posted by the logged in user -->
                    {% for post in post_list %}
                    <div class="col-xs-10 col-md-6 col-lg-6  m-4 mx-auto">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="image-container text-center">
                                    <div class="col-12 col-lg-12">
                                        {% if "placeholder" in post.image.url %}
                                        <img class="card-img-top img-fluid w-100 " src="..."
                                            alt="image uploaded by the user">
                                        {% else %}
                                        <img class="card-img-top img-fluid w-100 " src=" {{ post.image.url }}"
                                            alt="image uploaded by the user">
                                        {% endif %}
                                    </div>
                                    <div>
                                        <p class="author">Submitted by: {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'log-details' post.slug %}" class="post-link">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                </a>
                                <p class="card-text">{{ post.description }}</p>
                                <hr>
                                <p class="card-text text-muted">{{ post.created_on}} <i class="far fa-heart"></i>
                                    {{ post.number_of_likes }}| Category: {{ post.category|title }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <!-- Previous and Next button section -->
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <!-- if the user have NOT shared any post, the Create New button below will display -->
    {% else %}
    <div class="container text-center mt-4">
        <div class="text-dark">
            <p>It looks like that you haven't posted any lab logs yet.
            </p>
        </div>
    </div>
</div>
<br>

{% endif %}

{%endblock content%}